body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #7c4c0d44;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(241, 245, 255, 0.534);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img { 
  max-width: 300px; margin-top: 20px;
}

.park {
  columns: 3;
}

h1 {
  font-family: 'Lucida Sans Regular';
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

button {
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #af5e4c;
}

button:hover {
  background-color: #882612;
}