body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #0d7c6644;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(241, 245, 255, 0.534);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: 'Lucida Sans Regular';
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#song-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4caf93;
}

button:hover {
  background-color: #128867;
}

#playlist {
  list-style: none;
  padding: 0;
}

#playlist li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 8px;
  border-radius: 4px;
}

.favorited {
  font-weight: 550;
}

#playlist li button:last-child {
  background-color: #e81f1f;
}

#playlist li button:last-child:hover {
  background-color: #9e0c0c;
}
